extends ../layouts/default

block intro
	.container
		h1 Contact Me

block content
	.container
		.row: .col-sm-8.col-md-6
			ul
				li <span class="fa fa-mobile"></span> (602) 677-2631
				li <i class="fa fa-yahoo"></i> himo_rocks (Yahoo! Messenger)
				li <img src='https://cdn1.iconfinder.com/data/icons/simple-icons/2048/aim-2048-black.png' style='margin: 0px; padding: 0px; width: 24px; vertical-align: bottom' />wfrancis1000 (AIM)
				li <i class="fa fa-windows"></i> wfrancis1000 (Windows Live Messenger)
				li <i class="fa fa-google"></i> white.man.on.campus (Google Talk)