extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')


		h1 Bienvenue chez Will!

		if user && user.canAccessKeystone
			p <a href='http://keystonejs.com/guide' target='_blank'>Guide</a>
			p
				a(href='/keystone').btn.btn-lg.btn-primary Admin UI
			hr
			p <strong>matthewmorrone1@gmail.com</strong>
			p <strong>planarfeeler</strong>
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
